body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: #5c5ae3;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #000;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    color: rgb(238, 2, 2);
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: rgb(231, 139, 33);
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

p {
    color: rgb(237, 249, 10);
}

input {
    border: 1px solid rgb(92, 139, 232);
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #fff;
    background: #fff;
    padding: 8px;
}